################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/Sqlite3-Management/v16/Browse.VC.db
/.vs/Sqlite3-Management/v16/Browse.VC.db-shm
/.vs/Sqlite3-Management/v16/Browse.VC.db-wal
/.vs/Sqlite3-Management/v16/Browse.VC.opendb
